 <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Food/s</th>
                    <th scope="col">Booze</th>
                  </tr>
                </thead>
                <tbody>
                {{#each users}}
                  <tr id="{{_id}}">
                    <td>{{name}}</td>
                    <td>{{food}}</td>
                    <td>{{booze}}
                        <form class="deleteBtn" action="{{_id}}" method="POST">
                          <button type="submit" class="btn">
                            <i class="fas fa-trash"></i>
                          </button>
                        </form>
                    </td>
                  </tr>
                {{/each}}
                </tbody>
              </table>